html, body, #root {
  height: 100%;
  width: 100%;
  background: lightgray;
}

#IntroPage, #QuestionPage, #ResultsPage {
  max-width: 500px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.pvl {
  padding-top: 20px;
  padding-bottom: 20px;
}

.box-btn {
  background: transparent;
  padding: 30px;
  cursor: pointer;
  border: solid 1px;
  font-weight: bold;
}

.footer-link {
  padding-bottom: 20px;
}